{% extends "index.html" %}

<html>
	<body>
		<div class = "flex _direction-column container"> 
			{% block content %}
			<h1>My Hours: {{ customer_id.last_name }}<br></h1>
			<h2>My Bookings:<br></h2>

			<div class = "container-content"> 

			    <table class="table">
				  <thead>
				    <tr>
				      <th scope="col">Customer</th>
				      <th scope="col">Vehicle</th>
				      <th scope="col">Depot</th>
				      <th scope="col">Booking Start Time</th>
						<th scope="col">Booking End Time</th>
				    </tr>
				  </thead>

				{% for booking in booking_list %}
					  <tbody>
					    <tr>
					      <td>{{ booking.customer }}</td>
					      <td>{{ booking.vehicle }}</td>
					      <td>{{ booking.depot }}</td>
					      <td>{{ booking.start_time }}</td>
							<td>{{ booking.end_time }}</td>
					    </tr>
					  {% endfor %}
					  </tbody>
					</table>
			</div>
			{% endblock %}
		</div>
	</body>
</html>
